<div class="container-fluid">
	<div class="col-md-12">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Global Progress</div>
				<div class="panel-body">
					<dash-Radar-Chart></dash-Radar-Chart>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Resident Modality Experience on Radiology Rotation: Neuro <i>({{ from_date }} - {{ to_date }})</i></div>
				<div class="panel-body">
					<dash-Bar-Chart residentdata="left_bar_chart_data" baselinedata="left_bar_chart_baseline_data"></dash-Bar-Chart>
				</div>
			</div>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Modality</th>
						<th>Baseline Quota</th>
						<th>Add/Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in left_bar_chart_data">
						<td><input type="text" class="form-control" placeholder="Modality" ng-model="data.modality"></td>
						<td><input type="text" class="form-control" placeholder="From: YYYY-MM-DD" ng-model="data.baseline_frequency"></td>
						<td>
							<button ng-click="addResidentDataItem($index)" class="btn btn-default">+</button>
							<button ng-click="removeResidentDataItem($index)" class="btn btn-default">-</button>
						</td>
					</tr>
				</tbody>

			</table>
			<button ng-click="updateBarChart()" class="btn btn-default">Update Bar Chart</button>

		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">	
					<div class="input-group">
						<span class="input-group-addon">1</span>
						<input type="text" class="form-control" placeholder="From: YYYY-MM-DD" ng-model="from_date">
					</div>
					<div class="input-group">
						<span class="input-group-addon">2</span>
						<input type="text" class="form-control" placeholder="To: YYYY-MM-DD" ng-model="to_date">
					</div>
					<div class="row" style="margin:0px;padding:0px">
						<div class="panel pull-right clearfix" style="margin:0px;padding:0px">
							<p>Please enter 2 month intervals (i.e 2012-01-01 to 2012-03-01) : YYYY-MM-DD</p>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="input-group">
						<span class="input-group-addon">3</span>
						<input type="text" class="form-control" placeholder="Radiologist" ng-model="radiologyText" ng-disabled="true">
					</div>
					<div class="row" style="margin:0px;padding:0px">
						<div class="panel pull-right clearfix" style="margin:0px;padding:0px">
							<p>Filter Radiologists</p>
							<p>Select Radiologist to obtain reports</p>
						</div>
					</div>
				</div>
				<div class="row" ng-show="reports_loading">
					<div class="panel panel-default col-md-4 col-md-offset-4" style="text-align:center"><b>Loading ..</b></div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="radiologist in radiologist_pages[current_page]" ng-click="selectRadiologist(radiologist)">
								<td>{{ radiologist.fields.fname }}</td>
								<td>{{ radiologist.fields.lname }}</td>
							</tr>
						</tbody>
						<tfoot>
							<ul class="pagination">
								<li ng-repeat="n in page_indices" ng-class="{active: $index == current_page}">
									<a href="" ng-click="changePage(n)">{{n}}</a>
								</li>
							</ul>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">bar chart</div>
			<div class="panel-body">
				<dash-Bar-Chart data="left_bar_chart_data"></dash-Bar-Chart>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">bar chart</div>
			<div class="panel-body">
				<dash-Bar-Chart data="right_bar_chart_data"></dash-Bar-Chart>
			</div>
		</div>
	</div>
	-->
</div>