<div class="container-fluid">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Global Progress</div>
			<div class="panel-body">
				<dash-Radar-Chart></dash-Radar-Chart>
				<!--<button ng-click="drawRadarChart()">Random it</button>-->
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Some other Progress</div>
			<div class="panel-body">
				<dash-Radar-Chart></dash-Radar-Chart>
				<!--<button ng-click="drawRadarChart()">Random it</button>-->
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">bar chart</div>
			<div class="panel-body">
				<dash-Bar-Chart></dash-Bar-Chart>
				<!--dash-Radar-Chart></dash-Radar-Chart>-->
				<!--<button ng-click="drawRadarChart()">Random it</button>-->
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">bar chart</div>
			<div class="panel-body">
				<dash-Bar-Chart></dash-Bar-Chart>
				<!--<dash-Radar-Chart></dash-Radar-Chart>-->
				<!--<button ng-click="drawRadarChart()">Random it</button>-->
			</div>
		</div>
	</div>
</div>